# This is a smaple config file with sample parameter data.
# Refer to CONFIG_README.md for information on how to use the config file and
# and information about all the parameters.

#servers_info - All the relevant information about the servers
servers_info:
    "1.1.1.1":
        brick_root: ["/bricks"]
    "2.2.2.2":
        brick_root: ["/bricks"]
    "3.3.3.3":
        brick_root: ["/bricks"]
    "4.4.4.4":
        brick_root: ["/bricks"]
        
#clients_info - All the relevant information about the clients
clients_info:
    "5.5.5.5":
    "6.6.6.6":

#volume_types - Indivudual volume type information and minimum servers for
#               each volume type
volume_types:
    distributed:
        dist_count: 4
        transport: tcp
    replicated:
        replica_count: 3
        transport: tcp
    distributed-replicated:
        dist_count: 2
        replica_count: 3
        transport: tcp
    dispersed:
        disperse_count: 6
        redundancy_count: 2
        transport: tcp
    distributed-dispersed:
        dist_count: 2
        disperse_count: 6
        redundancy_count: 2
        transport: tcp
    arbiter:
        replica_count: 3
        arbiter_count: 1
        transport: tcp
    distributed-arbiter:
        dist_count: 2
        replica_count: 3
        arbiter_count: 1
        transport: tcp
