name: Redant-Lint-check

on:
  push:
    branches: [main]
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python 3.6.9
        uses: actions/setup-python@v2
        with:
          python-version: 3.6.9
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install flake8
          pip install pylint
          if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
          touch __init__.py 
      - name: Lint with flake8
        run: |
          flake8 redant_libs/gluster_libs/peer_ops.py --count --select=E9,F63,F7,F82 --show-source --statistics
          flake8 redant_libs/gluster_libs/peer_ops.py --count --max-complexity=10 --max-line-length=79 --statistics
      - name: Lint with Pylint
        run: |
          pylint redant_libs/gluster_libs/peer_ops.py
          rm __init__.py
